@charset "UTF-8";

@media (min-width: 762px){
    body{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }
    
    main{
      flex-direction: row;
      gap: 0px;
    }

    .section1, .section2{
      border-radius: 30px;
      box-shadow: 0px 0px 8px #00000046;
      width: 370px;
      height: 500px;
    }

    .section2{
      padding-bottom: 50px;
    }

    .results{
      width: 250px;
      gap: 50px;
    }

    .summary{
      padding-top: 30px;
      position: relative;
    }

    .button{
      padding: 12px 24px;
      position: absolute;
      bottom: 0px;
    }
}